{% extends 'webapp/basic.html' %}
{% block tilte %} pricing-intelligence | Crawl Magic Solutions {% endblock %}
{% load static %}

{% block body %}

<!-- Hero  Start-->
<section class="hero-eleven bg-dark-black pt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                    <h1 class="fw-bold display-5 text-white">
                        Pricing Intelligence for Businesses
                    </h1> <br>
                    <h3 class="fw-bold  text-white">Large Scale Solutions for Pricing Managers</h3><br><br>
                    <p class="lead text-white">
                        X-Byte Enterprise Crawling is the leading global service provider of price intelligence services. We study competitor’s data and develop pricing solutions for several huge brands. We are always ready to collaborate with you for the future work!
                    </p>
                    <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                        <a href="contact-us.html" class="rounded-btn me-3"> Get Started </a>
                        <a href="#" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0">
                            <i class="fas fa-play"></i> How it works
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="crypto-hero-img pt-80">
                    <ul class="currency-icon list-unstyled">
                        <li>
                            <img src="{% static 'images/currency1.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency2.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency3.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency4.svg' %}" alt="icon" />
                        </li>
                    </ul>
                    <img src="{% static 'images/crypto-person.png' %}" class="img-fluid" alt="person" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

{% endblock %}