{% extends 'webapp/basic.html' %}
{% block tilte %} price_monitoring | Crawl Magic Solutions  {% endblock %}
{% load static %}

{% block body %}


<!--hero section start-->
<section class="hero-section ptb-120 bg-purple text-white" style="background:url({% static 'images/app-two-mockup-bg.png' %})no-repeat center center / cover">
      <div class="container">
          <div class="row justify-content-xl-between align-items-center">
              <div class="col-lg-5 col-xl-5 col-xl-5 col-md-10">
                  <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                      <h5 class="text-warning">E-COMMERCE & RETAIL / PRICE MONITORING</h5>
                      <h1 class="fw-bold display-5">PRICE MONITORING FOR PRODUCTS IN RETAIL AND E-COMMERCE</h1>
                      <p class="lead">
                        Our customized price monitoring services can assist you in gathering and consolidating product data from different e-commerce websites like eBay, Walmart, Amazon, Target as well as other marketplaces.
                      </p>
                      <div class="action-btns mt-5">
                          <a href="about-us.html" class="btn btn-outline-light">Explore More</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-md-8 mt-5">
                  <div class="hero-app-img position-relative text-center">
                      <img src="{% static 'images/app-two-phone.png' %}" alt="app screen" class="img-fluid" />
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--hero section end-->

<div class="container">
    <br><h1 style="text-align: center;">QUICK & CUSTOMIZED PRICE MONITORING SERVICES  </h1>
    <p>Our customized price monitoring services are affordable and can be created in weeks or even in days sometimes. Our pre-built component library makes sure to take a short development time for price monitoring for retailers. It provides you the ability to get started on your product and price matching solutions on a smaller scale as well as at low prices before growing to include several products, categories, regions, and websites.</p>
    <P>It also assists in mitigating the risks related to a huge scale implementation, which is both time-consuming and expensive.</P>
    <p>Our attitude has worked for most of our customers including billion-dollar companies that sell products around the world. The customized nature assists you in tweaking the solutions to fulfil your requirements.</p>
</div>

<!--feature section start-->

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> MONITOR PRODUCTS IN DIFFERENT MARKETPLACES</h1> <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 order-lg-1">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> 
                            Compare as well as match products in different categories as well as online marketplaces for getting an edge over competitors. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Monitor competitors’ products in different markets and countries </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> View products’ prices from online marketplaces like Amazon, Walmart, and eBay
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Get new partners, sellers, as well as best-selling products</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12 order-lg-0">
                <div class="feature-img-holder p-lg-5 pt-3">
                    <div class="bg-primary-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-8.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-6.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 left--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> ANALYZE PRICING STRATEGY OF COMPETITORS</h1>  <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> Make real-time customized dashboards for monitoring prices and collecting insights </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Get regular product data as well as to adapt to pricing variations  </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Study competitors’ prices, ratings, as well as present stock levels </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Tracking competitors’ price trends  </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder p-lg-5 pb-3">
                    <div class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-9.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-10.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> SENTIMENT ANALYSIS ON PRODUCT REVIEWS</h1> <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 order-lg-1">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> With sentiment analysis, we help you understand the sentiments of a given data. You may use that to analyze the product reviews as well as sort them in Positive, Negative, or Neutral. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Understand customers’ likes and dislikes about the product </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Compare product reviews with your competitors</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Find the newest product insights within real-time</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12 order-lg-0">
                <div class="feature-img-holder p-lg-5 pt-3">
                    <div class="bg-primary-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-8.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-6.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 left--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> HISTORICAL TRENDS</h1>  <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> Historical trends of competitive pricing are used to adjust pricing at prominent periods and think about new products, which may assist in achieving objectives. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>  Help retailers to get competitor patterns and trends when comes to prices</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>  Provide side-by-side retailers and product pricing comparison</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Insights could be increased into competitors’ reaction to pricing changes in the marketplace </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder p-lg-5 pb-3">
                    <div class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-9.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-10.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> PRODUCT MATCHING ACROSS RETAILERS AND WEBSITES</h1> <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 order-lg-1">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p>We provide real-time product matching having unbeatable precision. Track similar or exact matches of products around the world with product matching across retailers and websites.  </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Deliver different identical products, which match with the product you’re searching for </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Easily search products with unique identifiers as well as get clean and well-structured product metadata</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Monitor websites to assist you to get products, which are near matches </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12 order-lg-0">
                <div class="feature-img-holder p-lg-5 pt-3">
                    <div class="bg-primary-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-8.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-6.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 left--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> CATEGORY STANDARDIZATION</h1>  <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> Change different datasets into an organized and structured format to make the data accessible in a practical manner. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>
                            Make sure that services are given in any particular industry come up with constant quality  </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>  Ensure security, compatibility, and interoperability</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> 
                            Provide uniformity to definite practices in the industry </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder p-lg-5 pb-3">
                    <div class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-9.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-10.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;">PRICE COMPARISON & DYNAMIC PRICING </h1> <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 order-lg-1">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p>  Compare and equal products across different categories as well as online marketplaces for getting authority over competitors.</p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Monitor your competitors’ products in different markets and countries </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> View product pricing from online marketplaces with websites like Amazon, Walmart, and eBay.</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Find new partners, sellers, as well as best-selling products.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12 order-lg-0">
                <div class="feature-img-holder p-lg-5 pt-3">
                    <div class="bg-primary-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-8.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-6.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 left--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> KEYWORDS, REVIEWS & RATINGS DATA SCRAPING
        </h1>  <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> Scrape data related to keywords, ratings & reviews data of the competitor products or services with the help of price monitoring. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>  Track and study consumers’ sentiments by reviewing keywords, reviews, and ratings of your competitors
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Leverage web scraping to make that very easy  </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>  Scrape reviews on the spreadsheet and compare various reviews as per keywords
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder p-lg-5 pb-3">
                    <div class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-9.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-10.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;"> AGGREGATE PRODUCT CATALOGS FROM E-COMMERCE WEBSITES</h1> <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 order-lg-1">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p>  Aggregated product catalogs empower customers by making all the required data available in one place and help them in making more well-versed decisions.</p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Enhance the overall customers’ experience</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Eliminates the general tedious procedure of calling several vendors</span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span>Surf many websites to get product information </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12 order-lg-0">
                <div class="feature-img-holder p-lg-5 pt-3">
                    <div class="bg-primary-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-8.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-6.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 left--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-feature pt-60 pb-120">
    <div class="container">
        <h1 style="text-align: center;">ASSORTMENT INTELLIGENCE & PROMOTIONAL INSIGHTS </h1>  <br><br>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12">
                <div class="feature-img-content">
                    <div class="section-heading" data-aos="fade-up">
                        <p> In the retail business, Assortment Intelligence & Promotional Insights play an important part in selling efficiently. It affects the daily decision-making of brand managers, category managers, planning, merchandising, as well as logistics teams. </p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Increase penetration with catering to different customer segments </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Lessen purchase costs for the new customers (and also retain present customers) </span>
                    </li>
                    <li>
                        <i class="fas fa-check text-primary"></i>
                        <span> Optimize inventory management costing and planning </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder p-lg-5 pb-3">
                    <div class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-10 position-relative">
                            <img src="{% static 'images/screen/widget-9.png' %}" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-delay="50">
                            <img src="{% static 'images/screen/widget-10.png' %}" class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium" alt="feature-image" data-aos="fade-up" data-aos-delay="100">
                        </div>
                        <div class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--feature section end-->
{% endblock %}



