{% extends 'webapp/basic.html' %}
{% block tilte %} pricing-intelligence | Crawl Magic Solutions {% endblock %}
{% load static %}

{% block body %}

<!-- Hero  Start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white "  style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                    <h1 class="letter-spacing-1 line-height-50" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine" >Pricing Intelligence for Businesses</h1><br><br>
                
                    <p data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        Crawl-Magic is the leading global service provider of price intelligence services. To pump up
                        your sales and for your customer to choose you over your competitor, you need to offer an
                        appealing price. This is possible through price monitoring service – timely comparisons and
                        analysis of the prices, deals, offers, and discounts of your competitors. Pricing intelligence
                        will also help guide you through marketing and sales strategies.
                    </p>
                    <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                        <!-- <a href="contact-us.html" class="rounded-btn me-3"> Get Started </a>
                        <a href="#" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0">
                            <i class="fas fa-play"></i> How it works
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="crypto-hero-img pt-80" data-aos="zoom-in">
                    <!-- <ul class="currency-icon list-unstyled">
                        <li>
                            <img src="{% static 'images/currency1.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency2.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency3.svg' %}" alt="icon" />
                        </li>
                        <li>
                            <img src="{% static 'images/currency4.svg' %}" alt="icon" />
                        </li>
                    </ul> -->
                    <img src="{% static 'images/service/pricing-intelligence2.png' %}" class="img-fluid" alt="person" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

<section class="priceing">
    <div class="container"><br>
        <div class="detailsofpriceintelligent text-center">
            <h1 data-aos="fade-up">Pricing intelligence</h1>
            <p data-aos="fade-up">Whenever you’re shopping, what is the first thing you look at when you find the product? Is it the name of the seller? The reviews of the product? The delivery dates? While shopping, you never look at these factors on the first go. You always check the price first. If the price sits well in your budget, then you look at the other factors before buying.
            </p>
            <p data-aos="fade-up">Price intelligence is the ability to track, monitor, and analyze competitor and market pricing data to make educated pricing decisions for your business. Intelligence is often gathered using data mining or other automated software solutions.</p>
        </div><br>

        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12" data-aos="zoom-in">
                <img src="{% static 'images/service/pricing-intelligence.png' %}" class="img-fluid" alt="person" />
            </div>
            <div class="col-lg-5 col-md-12">    
                <h5 data-aos="fade-up">Benefits of pricing intelligence for e-commerce :</h5>
                <ul class="list-unstyled">
                    <li data-aos="fade-up">
                        <i class="fas fa-check text-primary"></i>
                        <span>Helps the seller boost sales</span>
                    </li>
                    <li data-aos="fade-up">
                        <i class="fas fa-check text-primary"></i>
                        <span>Enhances the product search performance</span>
                    </li>
                     <li data-aos="fade-up">
                        <i class="fas fa-check text-primary"></i>
                        <span>The customer is always satisfied</span>
                    </li>
                    <li data-aos="fade-up">
                        <i class="fas fa-check text-primary"></i>
                        <span>Prevents Piling up of Old Stock</span>
                    </li>
                    <li data-aos="fade-up">
                        <i class="fas fa-check text-primary"></i>
                        <span>Helps increase your brand and does the marketing</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

{% endblock %}