{% extends 'webapp/basic.html' %}
{% block tilte %} image-OCR-services | Crawl Magic Solutions {% endblock %}
{% load static %}

{% block body %}
<!--hero section start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white " style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content-wrap">
                    <!-- <h6>E-COMMERCE & RETAIL / RETAIL PRICING INTELLIGENCE SOLUTIONS</h6> -->
                    <!-- <h5 class="text-warning">#1 Software Company In World</h5> --><br><br>
                    <h1 class="letter-spacing-1 line-height-50">IMAGE OCR SERVICES</h1>
                    <!-- <h1 class="fw-bold display-5">Advanced Feature to Grow Your Business</h1> --> <br><br>
                    <h6>OCR or Optical Character Recognition mechanism, converts digital documents into automatic machine-editable texts. Crawl-Magic can assist you with professional Image OCR services to convert electronic images to the desired and editable formats.

                    </h6>
                    <!-- <p class="lead">Proactively coordinate quality quality vectors vis-a-vis supply chains engage client-centric web services.</p> -->
                    <!-- <div cl><a href="contact-us.php" class="btn"><span class="btn-inner">Get Started Now</span></a> -->
                        
                    
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                <div class="animated-img-wrap">
                    <!--animated shape start-->
                    <ul class="animate-element parallax-element animated-hero-1">
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'images/screen/animated-screen-2.svg' %}" alt="shape" class="img-fluid position-absolute type-0">
                        </li>
                    </ul>
                    <!--animated shape end-->
                    <img src="{% static 'images/screen/animated-screen-1.svg' %}" alt="shape" class="position-relative img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tech tabs start -->
<section class="ptb-120 bg-white">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="text-center">
                    <h2>We Build any Kind Of Technology</h2>
                    <p>
                        Credibly grow premier ideas rather than bricks-and-clicks strategic
                        theme areas distributed for stand-alone web-readiness.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="service-tabs">
                    <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fas fa-desktop me-3"></i>
                                <span>HIGHLIGHTS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link me-4" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="fas fa-tablet-alt me-3"></i>
                                <span>FEATURES & BENEFITS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="fas fa-vector-square me-2"></i>
                                <span>ADVANTAGE CRAWL MAGIC</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap">
                                       <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>
                                        IMAGE OCR SERVICES FOR BUSINESS ENTERPRISE
                                    </h2>
                                    <p>
                                        We provide AI-based optical character recognition (OCR) services and custom OCR development solutions that enable organizations to efficiently extract and convert data into a machine-readable format. Integrated with machine learning and computer vision capabilities, our OCR solutions allow businesses to automate data digitization for better decision-making and achieve greater business efficiency.
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="pe-5 mb-5 mb-lg-0">
                                    <!-- <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap"> -->
                                      <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE-feature-and-benefits.png' %}" alt="" class="img-fluid" />
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>HOW CRAWL MAGIC BENEFITS YOUR CAUSE?</h2>
                                    <p>
                                        We have full-fledged compatibility with various kinds of OCR Scanners and storage of the digital volumes for more enhancement. Get 100% quality guarantee for the end-users. Flexible to deal with all types of printing methods executed by well-trained experts having huge experience of OCR services.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>High Accuracy & Less Operation Cost</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Superior Data Security</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Improved Customer Experience </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Easy Data Recovery</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap">
                                      <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE-advantage-of-xbyte.png' %}" alt="" class="img-fluid" />
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>WHY CRAWL MAGIC IS THE BEST DATA PROVIDERS?</h2>
                                    <p>
                                        Crawl Magic has the potential of arranging data in an easy-to-retrieve and user-friendly data format and maintain data reliability with zero errors. With deep proficiency in data scraping services, our well-experienced staff offers various value-added incentives. Get better efficiency and value of the office work. It allows immediate search facility using content in the office environment and helps in dealing with high-volume scanning or higher document inflow. Get guaranteed accuracy with OCR in an accurate and quick manner whereas saving time. Bring the best out with Image OCR services!
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- taech tabs end -->

{% endblock %}