{% extends 'webapp/basic.html' %}
{% block tilte %} job istings and data feeds | Crawl Magic Solutions  {% endblock %}
{% load static %}

{% block body %}
<!--hero section start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white " style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content-wrap">
                    <!-- <h6>RECRUITMENT / JOB POSTINGS & DATA FEEDS DATA SCRAPING SERVICES</h6> -->
                    <!-- <h5 class="text-warning">#1 Software Company In World</h5> --><br><br>
                    <h1 class="letter-spacing-1 line-height-50" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine" >JOB LISTINGS AND DATA FEEDS | JOB DATA MONITORING</h1>
                    <!-- <h1 class="fw-bold display-5">Advanced Feature to Grow Your Business</h1> --> <br><br>
                    <p data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" >When our feeds are integrated into your workflow, it adds exponential value on many levels. We can run automated crawls of company websites based on a schedule.  With ScrapeHero, you are only a few steps away from getting all data from job listings posted on hundreds of company websites</p>
                    <!-- <p class="lead">Proactively coordinate quality quality vectors vis-a-vis supply chains engage client-centric web services.</p> -->
                    <!-- <div cl><a href="contact-us.php" class="btn"><span class="btn-inner">Get Started Now</span></a> -->
                        
                    
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                <div class="animated-img-wrap" data-aos="zoom-in">
                    <!--animated shape start-->
                    <!-- <ul class="animate-element parallax-element animated-hero-1">
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'images/screen/animated-screen-2.svg' %}" alt="shape" class="img-fluid position-absolute type-0">
                        </li>
                    </ul> -->
                    <!--animated shape end-->
                    <img src="{% static 'images/industries/job_listing_and_data_feeds.png' %}" style="width: 550px;" alt="shape" class="position-relative img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tech tabs start -->
<section class="ptb-120 bg-white">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="text-center">
                    <h2>We Build any Kind Of Technology</h2>
                    <p>
                        Credibly grow premier ideas rather than bricks-and-clicks strategic
                        theme areas distributed for stand-alone web-readiness.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="service-tabs">
                    <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fas fa-desktop me-3"></i>
                                <span>HIGHLIGHTS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link me-4" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="fas fa-tablet-alt me-3"></i>
                                <span>BENEFITS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="fas fa-vector-square me-2"></i>
                                <span>WHY CRAWL-MAGIC?</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                       <img src="{% static 'images/industries/job_listing_and_data_feeds2.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">
                                        JOB LISTINGS AND DATA FEEDS FOR BUSINESS
                                    </h2>
                                    <p data-aos="fade-up">
                                        Our custom web scraping services can scrape job data from all kinds of Jobs related data such as the latest job listings, companies that are hiring, skills in demand, and hiring locations from career pages of company websites and job boards to help you create organized job data feeds
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Obtain clean structured job data</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Get updates for new job listings</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Tailored solutions for your need</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="pe-5 mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/job_listing_and_data_feeds4.jpg' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">HOW CRAWL MAGIC BENEFITS YOUR CAUSE?</h2>
                                    <p data-aos="fade-up">
                                        Job postings are frequently articulated inversely with companies getting particular jargon posted on the websites. We make custom solutions using fuzzy matching as well as filtering to have the data required. When the feeds are combined in the workflow, it improves exponential values on different levels. We run automated crawling of company websites depending on the schedule.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Capability to monitor specific jobs and its correlation to job / job chain specific metrics</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Integration of job / job chain specific alerts in Alert Inbox including Notification Management, Incident Management, Task Assignment and forwarding to 3rd party </span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Central overview for all jobs / job chains involved in a Crawl Magic based solution</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/job_listing_and_data_feeds3.png' %}" alt="" class="img-fluid" />
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">WHY CRAWL MAGIC IS THE BEST DATA PROVIDERS?</h2>
                                    <p data-aos="fade-up">Our Jobs feed data provides real-time information on job postings from Indeed and LinkedIn, which can be used for big data analytics, sales outreach, or competition hiring trends analysis. Job postings data is data collected by scanning hundreds of thousands of job postings that are put up on a daily basis. Those companies who are offering information on related jobs would use this information.</p>
                                    <p data-aos="fade-up">We provide the date of job post, company name, job title, website, industry, salary range, job type, city, state, zip.</p>
                                    <p data-aos="fade-up">Use search parameters such as Keywords, Jobs Titles, Niches, Locations, and more to get clean, structured, and fresh job feeds.</p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- taech tabs end -->

{% endblock %}