{% extends 'webapp/basic.html' %}
{% block tilte %} flight pricing intelligence | Crawl Magic Solutions  {% endblock %}
{% load static %}

{% block body %}

<!--hero section start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white " style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content-wrap">
                    <!-- <h6>TRAVEL / FLIGHT PRICING INTELLIGENCE</h6> -->
                    <!-- <h5 class="text-warning">#1 Software Company In World</h5> --><br><br>
                    <h1 class="letter-spacing-1 line-height-50" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine" >FLIGHT PRICING INTELLIGENCE</h1>
                    <!-- <h1 class="fw-bold display-5">Advanced Feature to Grow Your Business</h1> --> <br><br>
                    <p data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" >Crawl Magic gathers hands-on revenue management & pricing experts, big data, and UX experts, to produce unprecedented pricing intelligence technology, helping airlines optimize fare structures to increase profits, reduce time-to-market, improve pricing effectiveness and coverage, and provide decision-makers with key information advantages.</p>
                    <!-- <p class="lead">Proactively coordinate quality quality vectors vis-a-vis supply chains engage client-centric web services.</p> -->
                    <!-- <div cl><a href="contact-us.php" class="btn"><span class="btn-inner">Get Started Now</span></a> -->    
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                <div class="animated-img-wrap" data-aos="zoom-in">
                    <!--animated shape start-->
                    <!-- <ul class="animate-element parallax-element animated-hero-1">
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'images/screen/animated-screen-2.svg' %}" alt="shape" class="img-fluid position-absolute type-0">
                        </li>
                    </ul> -->
                    <!--animated shape end-->
                    <img src="{% static 'images/industries/flight-pricing-intelligence2.png' %}" alt="shape" class="position-relative img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tech tabs start -->
<section class="ptb-120 bg-white">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="text-center">
                    <h2>We Build any Kind Of Technology</h2>
                    <p>
                        Credibly grow premier ideas rather than bricks-and-clicks strategic
                        theme areas distributed for stand-alone web-readiness.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="service-tabs">
                    <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fas fa-desktop me-3"></i>
                                <span>HIGHLIGHTS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link me-4" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="fas fa-tablet-alt me-3"></i>
                                <span>BENEFITS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="fas fa-vector-square me-2"></i>
                                <span>WHY CRAWL-MAGIC?</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                       <img src="{% static 'images/industries/flight-pricing-intelligence.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">
                                        FLIGHT PRICING INTELLIGENCE FOR BUSINESS ENTERPRISE
                                    </h2>
                                    <p data-aos="fade-up">
                                        Our estimates indicate that an effective use of the Airnguru solutions can generate between 1% and 4% incremental revenue for airlines:
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Substantially reducing response times to competitors' actions</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span> Capturing revenue opportunities at the demand segment level</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Managing currently unattended markets</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Eliminating fare filing errors</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Increasing accuracy and frequency of prices fed into Revenue Management</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Substantially improving your team's productivity via automation</span>
                                        </li>
                                    </ul>
                                   
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="pe-5 mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/flight-pricing-intelligence3.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">HOW CRAWL MAGIC BENEFITS YOUR CAUSE?</h2>
                                    <p data-aos="fade-up">
                                        Quickly visualize the flight pricing developments, categorize markets and carriers with powerful dynamics, and track competitors’ pricing trends as well as drill down the market drifts to produce data analytics with flight analysis tools. Get the latest and real-time data, which you are searching for so that it can be beneficial in your investment decisions. You can use recycled data also.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Easy competitive
                                                benchmarking and analysis</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Save Time and Effort with filter settings auto saved and retained</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Single screen analytics to save time & simplify workflow</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Up-to-date views of the market to stay updated always</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Customized unlimited reports to enable decision making backed by data</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/flight-pricing-intelligence4.png' %}" alt="" class="img-fluid" />
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">WHY CRAWL MAGIC IS THE BEST DATA PROVIDERS?</h2>
                                    <p data-aos="fade-up">
                                        Get immediate alerts of variations in pricing structure as well as competitive spots with flight pricing comparison tools, strongly reducing the exposure to trail flight analytics, changes in the flight fares as well as comparing reports manually. Our flight intelligence solutions increase profits, improve fare structures, lessen time-to-market, and get data coverage. Increase your profits now using our Flight Pricing Intelligence Solutions!


                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- taech tabs end -->


{% endblock %}