{% extends 'webapp/basic.html' %}
{% block tilte %} travel data intelligence | Crawl Magic Solutions  {% endblock %}
{% load static %}

{% block body %}

<!--hero section start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white " style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content-wrap">
                    <!-- <h6>TRAVEL / TRAVEL DATA INTELLIGENCE</h6> -->
                    <!-- <h5 class="text-warning">#1 Software Company In World</h5> --><br><br>
                    <h1 class="letter-spacing-1 line-height-50" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine" >TRAVEL DATA INTELLIGENCE</h1>
                    <!-- <h1 class="fw-bold display-5">Advanced Feature to Grow Your Business</h1> --> <br><br>
                    <p data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" >Crawl Magic Solutions is a highly preferred data intelligence company. We improve business outcomes by bringing together the right data, algorithms, and datasets from different resources. We allow organizations to unlock the value of their business information and turn it into a winning competitive asset. With the advanced experience in diverse fields, our developers help clients to make unstructured data a piece of meaningful information. We are honored to empower a new generation of the digital era and help businesses improve ROI with data intelligence.</p>
                    <!-- <p class="lead">Proactively coordinate quality quality vectors vis-a-vis supply chains engage client-centric web services.</p> -->
                    <!-- <div cl><a href="contact-us.php" class="btn"><span class="btn-inner">Get Started Now</span></a> -->
                        
                    
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                <div class="animated-img-wrap" data-aos="zoom-in">
                    <!--animated shape start-->
                    <!-- <ul class="animate-element parallax-element animated-hero-1">
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'images/screen/animated-screen-2.svg' %}" alt="shape" class="img-fluid position-absolute type-0">
                        </li>
                    </ul> -->
                    <!--animated shape end-->
                    <img src="{% static 'images/industries/flight-pricing-intelligence2.png' %}" alt="shape" class="position-relative img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tech tabs start -->
<section class="ptb-120 bg-white">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="text-center">
                    <h2>We Build any Kind Of Technology</h2>
                    <p>
                        Credibly grow premier ideas rather than bricks-and-clicks strategic
                        theme areas distributed for stand-alone web-readiness.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="service-tabs">
                    <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fas fa-desktop me-3"></i>
                                <span>HIGHLIGHTS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link me-4" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="fas fa-tablet-alt me-3"></i>
                                <span>BENEFITS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="fas fa-vector-square me-2"></i>
                                <span>WHY CRAWL-MAGIC?</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                       <img src="{% static 'images/industries/travel-data-intelligence4.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">
                                        TRAVEL DATA INTELLIGENCE FOR BUSINESS ENTERPRISE
                                    </h2>
                                    <p data-aos="fade-up">As mentioned, oftentimes terms such as Travel Intelligence and Big Data remain an abstract concept and it’s hard to understand their direct utility. That’s why, here at Crawl-Magic Technologies, we are here to give you the answer. That goes for different sectors and different clients such as destination marketing organisations, hotels, airlines, tourist marketing agencies, etc.
                                        
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Collecting travel data, content, comments, reviews and more</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Monitoring, extracting and tracking the data flow of relevant information</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Identify and model the network information flow with automation</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Influence maximization and pieces of information that spread across network</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="pe-5 mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/travel-data-intelligence3.jpg' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">HOW CRAWL MAGIC BENEFITS YOUR CAUSE?</h2>
                                    <p data-aos="fade-up">Generally, the traveling industry faces the challenge of selling the right product, to the right customer, at the right time. All this required analysis of internal as well as external data.
                                        MakeMyTrip, Goibibo, Airbnb, Trivago, etc. are the traveling apps that use Big data to provide the best possible services to their customers.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Tourist interest and evolution</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Predict and analyse the tourist demand for a destination</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Ease of access to a destination: prices and air seats</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Volume of visitors, overnight stays and movement fluxes</span>
                                        </li>
                                        <li data-aos="fade-up">
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Most valuable tourists in terms of spend at destination.</span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap" data-aos="zoom-in">
                                      <img src="{% static 'images/industries/travel-data-intelligence5.png' %}" alt="" class="img-fluid" />
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2 data-aos="fade-up">WHY CRAWL MAGIC IS THE BEST DATA PROVIDERS?</h2>
                                    <p data-aos="fade-up">
                                        At Crawl-Magic, we passionately stimulate the world’s awareness about travel data intelligence as well as search for ways to get insights and produce value. Crawl-Magic unleashes high economic value through matching the business scenario with the right algorithms, dataset, and a personalized business procedure, which suits your business in the best way. We use our expertise and data assets to forecast new opportunities, create new service aptitudes, and make growth for ourselves.
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- taech tabs end -->


{% endblock %}