{% extends 'webapp/basic.html' %}
{% block tilte %} machine-learning | Crawl Magic Solutions {% endblock %}
{% load static %}

{% block body %}
<!--hero section start-->
<section class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white " style="background: url({% static 'images/page-header-bg.svg' %})no-repeat bottom right">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content-wrap">
                    <!-- <h6>E-COMMERCE & RETAIL / RETAIL PRICING INTELLIGENCE SOLUTIONS</h6> -->
                    <!-- <h5 class="text-warning">#1 Software Company In World</h5> --><br><br>
                    <h1 class="letter-spacing-1 line-height-50">MACHINE LEARNING
                    </h1>
                    <!-- <h1 class="fw-bold display-5">Advanced Feature to Grow Your Business</h1> --> <br><br>
                    <h6>Machine Learning helps organizations create highly-customized solutions working on progressive machine learning algorithms. At X-Byte, we help companies incorporate these algorithms with video and image analytics and emerging technologies like Virtual Reality and Augmented Reality to get a competitive superiority over others.

                    </h6>
                    <!-- <p class="lead">Proactively coordinate quality quality vectors vis-a-vis supply chains engage client-centric web services.</p> -->
                    <!-- <div cl><a href="contact-us.php" class="btn"><span class="btn-inner">Get Started Now</span></a> -->
                        
                    
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                <div class="animated-img-wrap">
                    <!--animated shape start-->
                    <ul class="animate-element parallax-element animated-hero-1">
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'images/screen/animated-screen-2.svg' %}" alt="shape" class="img-fluid position-absolute type-0">
                        </li>
                    </ul>
                    <!--animated shape end-->
                    <img src="{% static 'images/screen/animated-screen-1.svg' %}" alt="shape" class="position-relative img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tech tabs start -->
<section class="ptb-120 bg-white">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="text-center">
                    <h2>We Build any Kind Of Technology</h2>
                    <p>
                        Credibly grow premier ideas rather than bricks-and-clicks strategic
                        theme areas distributed for stand-alone web-readiness.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="service-tabs">
                    <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active me-4" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="fas fa-desktop me-3"></i>
                                <span>HIGHLIGHTS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link me-4" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="fas fa-tablet-alt me-3"></i>
                                <span>FEATURES & BENEFITS</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="fas fa-vector-square me-2"></i>
                                <span>ADVANTAGE X-BYTE</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap">
                                       <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE.png' %}" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>
                                        MACHINE LEARNING SERVICES FOR BUSINESS ENTERPRISE
                                    </h2>
                                    <p>
                                        We assist you to explore the potentials of Machine Learning for business growth as well as create innovative solutions to take the fullest benefit. We have the skillful capability in implementing the machine learning to do future forecasting, anomaly detection, product recommendations, opinion reviews, spam filtering, and more. Our dedicated engineers design and create algorithms from scratch.
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="pe-5 mb-5 mb-lg-0">
                                    <!-- <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap"> -->
                                      <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE-feature-and-benefits.png' %}" alt="" class="img-fluid" />
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>HOW CRAWL MAGIC BENEFITS YOUR CAUSE?</h2>
                                    <p>
                                        We provide progressive machine learning solutions to assist organizations to solve important business challenges, enable data-driven decision making, as well as create advanced business models. We make future-ready applications using methods like computational intelligence, pattern recognition, mathematical optimization, and nature-inspired algorithms. Use the computational and storing infrastructure required to speed up work in the cloud and deep learning at any scale.
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="tab-content-wrapper pt-60">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-5 mb-lg-0">
                                    <div class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap">
                                      <img src="{% static 'images/RETAIL-PRICING-INTELLIGENCE-advantage-of-xbyte.png' %}" alt="" class="img-fluid" />
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-right-content">
                                    <h2>WHY CRAWL MAGIC IS THE BEST DATA PROVIDERS?</h2>
                                    <p>
                                        We help business organizations in developing customized solutions, which process high-volume data as well as use sophisticated algorithms to study how to do a task themselves. Our machine learning-powered applications allow quicker decision making, business process automation, better productivity, and quicker anomaly detection. Determine hidden opportunities by changing the way how data is gathered, analyzed, explained, and presented.
                                    </p>
                                    <!-- <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Digital Conferance</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Great Speak</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check text-primary"></i>
                                            <span>Event Mangement</span>
                                        </li>
                                    </ul> -->
                                    <!-- <a href="#" class="text-white link-with-icon text-decoration-none">
                                        Know More About Us
                                        <i class="fas fa-arrow-right"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- taech tabs end -->

{% endblock %}